<p>
    <a [routerLink]="['/admin/products/new']" routerLinkActive="router-link-active"  class="btn btn-primary">
    New Product</a>
</p>
<p>
    <input 
    #query
    (keyup)="filter(query.value)"
    type="text" class="form-control" placeholder="Search...">
</p>


<p-table [value]="filteredProducts">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-p>
        <tr>
            <td>{{ p.data.title }}</td>
            <td>{{ p.data.price }}</td>
            <td> <a [routerLink]="['/admin/products/', p.key]" routerLinkActive="router-link-active">Edit</a>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- <table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{ p.data.title }}</td>
            <td>{{ p.data.price }}</td>
            <td>
                <a [routerLink]="['/admin/products/', p.key]" routerLinkActive="router-link-active">Edit</a>
            </td>
        </tr>
    </tbody>
</table> -->
